    <div class="main_container">
        <div class="top_container">
            <div class="menu_container">
                <div class="main_menu">
                    <div class="menu_btn" id="home_btn">
                        <button class="button" id="home_button"><h3>Home</h3></button>
                    </div>
                    <div class="menu_btn" id="account_btn">
                        <button class="button" id="home_button"><h3>Account</h3></button>
                    </div>
                    <div class="menu_btn" id="deck_btn">
                        <button class="button" id="home_button"><h3>Custom Deck</h3></button>
                    </div>
                    <div class="menu_btn" id="reload_chips_btn">
                        <button class="button" id="home_button"><h3>Reload Chips</h3></button>
                    </div>
                    <div class="menu_btn" id="log_out_btn">
                        <button class="button" id="home_button"><h3>Log Out</h3></button>
                    </div>
                </div>
            </div>
            <div class="dealer_container">
                <div class="dealer_center">
                    <div class="dealer_card" id="dealer_card_1">
                        <img id="compCard1">
                    </div>
                    <div class="dealer_card" id="dealer_card_2">
                        <img id="compCard2">
                    </div>
                    <div class="dealer_card" id="dealer_card_3"></div>
                    <div class="dealer_card" id="dealer_card_4"></div>
                    <div class="dealer_card" id="dealer_card_5"></div>
                </div>      
            </div>
            <div class="deck_container">
                <div class="deck">
                    <img src="./images/card_images/card_card_back.png">
                </div>
            </div>
        </div>
        <div class="spacer_container">
                <div class="wager_container"></div>
        </div>
        <div class="bottom_container">
            <div class="chip_container">
                <div class="menu">

                    <div class="chip_count">
                        <p class="current_bankroll">Bankroll: ${{user.chipCount}}</p>
                        <p class="current_wager">Current Wager: $0</p>
                    </div>
                    <button class="chips" id="chips_100" value="100">
                        <img src="./images/chip_images/chip_100.png">
                    <button class="chips" id="chips_500" value="500">
                        <img src="./images/chip_images/chip_500.png">
                    </div>
                    <button class="chips" id="chips_1000" value="1000">
                        <img src="./images/chip_images/chip_1000.png">
                    </button>
                    <button class="chips" id="chips_2500" value="2500">
                        <img src="./images/chip_images/chip_2500.png">
                    </button>

                </div>
            </div>    
            <div class="player_container">
                <div class="player_center">
                    <div class="player_card" id="player_card_1">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card1">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_2">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card2">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_3">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card3">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_4">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card4">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_5"></div>
                </div>  
            </div>
            <div class="bet_container">

                <div class="menu">

                <div class="bet_menu">
                    <div class="bet_btn" id="deal_btn">
                        <button class="button" id="deal_button"><h3>Deal</h3></button>
                    </div>
                    <div class="bet_btn" id="hit_btn">
                        <button class="button" id="hit_button"><h3>Hit</h3></button>
                    </div>
                    <div class="bet_btn" id="stay_btn">
                        <button class="button" id="stay_button"><h3>Stay</h3></button>
                    </div>
                    <div class="bet_btn" id="split_btn">
                        <button class="button" id="split_button"><h3>Split</h3></button>
                    </div>
                    <div class="bet_btn" id="doubledn_btn">
                        <button class="button" id="doubledn_button"><h3>Double </h3></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script src="./js/card_flip_script.js"></script>
    <script src="./js/classic.js"></script>