    <div class="main_container">
        <div class="top_container">
            <div class="menu_container">
                <div class="main_menu">
                    <div class="menu_btn" id="home_btn">
                        <a href="/profile" class="button" id="home_button">
                        <h3>Home</h3>
                        </a>
                    </div>
                    {{!-- <div class="menu_btn" id="account_btn">
                        <a href="/" class="button" id="account_button"><h3>Account</h3></a>
                    </div> --}}
                    <div class="menu_btn" id="deck_btn">
                        <a href="javascript:void(0)" class="button" id="custom_deck_button"><h3>Custom Deck</h3></a>
                    </div>
                    <div class="menu_btn" id="reload_chips_btn">
                        <a href="javascript:void(0)" class="button" id="reload_button"><h3>Reload Chips</h3></a>
                    </div>
                    <div class="menu_btn" id="log_out_btn">
                        <a href="javascript:void(0)" class="button" id="log_out_button">
                        <h3>Log Out</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dealer_container">
                <div class="dealer_center">
                    <div class="dealer_card" id="dealer_card_1">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="compCard1">
                                </div>
                                <div class="card-back">
                                    <img>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dealer_card" id="hide_dealer_hole_card">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-font">
                                    <img id="hideCard" src="./images/card_images/card_card_back.png">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dealer_card" id="dealer_card_2">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="compCard2">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dealer_card" id="dealer_card_3">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="compCard3">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dealer_card" id="dealer_card_4">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="compCard4">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dealer_card" id="dealer_card_5">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="compCard5">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <div class="deck_container">
                <div class="deck">
                    <img src="./images/card_images/card_card_back.png">
                </div>
            </div>
        </div>
        <div class="spacer_container">
                <div class="wager_container"></div>
        </div>
        <div class="bottom_container">
            <div class="chip_container">
                <div class="menu">

                    <div class="chip_count">
                        <p class="current_bankroll roboto">Bankroll: ${{user.chipCount}}</p>
                        <p class="current_wager roboto">Current Wager: $0</p>
                    </div>
                    <div class="chip_img_container">
                        <button class="chips" id="chips_100" value="100">
                            <img src="./images/chip_images/chip_100.png">
                            </button>
                            <audio id="audioPlayer">
                            <source src="/audio/ChipSound.wav">
                            </audio>
                        <button class="chips" id="chips_500" value="500">
                            <img src="./images/chip_images/chip_500.png">
                            </button>
                             <audio id="audioPlayer">
                            <source src="/audio/ChipSound.wav">
                            </audio>
                        {{!-- </div> --}}
                        <button class="chips" id="chips_1000" value="1000">
                            <img src="./images/chip_images/chip_1000.png">
                            </button>
                             <audio id="audioPlayer">
                            <source src="/audio/ChipSound.wav">
                            </audio>
                        <button class="chips" id="chips_2500" value="2500">
                            <img src="./images/chip_images/chip_2500.png">
                            </button>
                             <audio id="audioPlayer">
                            <source src="/audio/ChipSound.wav">
                            </audio>
                    </div>
                </div>
            </div>    
            <div class="player_container">
                <div class="player_center">
                    <div class="player_card" id="player_card_1">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card1">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_2">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card2">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_3">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card3">
                                </div>
                                <div class="card-back">
                                    <img id="card3"src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_4">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card4">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player_card" id="player_card_5">
                        <div class="card" onclick="flipCard()">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img id="card5">
                                </div>
                                <div class="card-back">
                                    <img src="./images/card_images/card_card_back.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="bet_container">

                <div class="menu">

                <div class="bet_menu">
                    <div class="bet_btn" id="deal_btn">
                        <button class="button" id="deal_button"><h3>Deal <span class="key">  (d)</span></h3></button>
                        <audio id="audioPlayer2">
                            <source src="/audio/CardFlip.mp3" type="audio/mp3">
                        </audio>
                    </div>
                    <div class="bet_btn" id="hit_btn">
                        <button class="button" id="hit_button"><h3>Hit <span class="key">  (h)</span></h3></button>
                        <audio id="audioPlayer3">
                            <source src="/audio/CardFlip.mp3" type="audio/mp3">
                        </audio>
                    </div>
                    <div class="bet_btn" id="stay_btn">
                        <button class="button" id="stay_button"><h3>Stay <span class="key">  (s)</span></h3></button>
                        <audio id="audioPlayer4">
                            <source src="/audio/Knock1.wav" type="audio/wav">
                        </audio>
                    </div>
                    <div class="bet_btn" id="split_btn">
                        <button class="button" id="split_button"><h3>Split <span class="key">  (t)</span></h3></button>
                    </div>
                    <div class="bet_btn" id="doubledn_btn">
                        <button class="button" id="doubledn_button"><h3>Double <span class="key">  (x)</span></h3></button>
                        <audio id="audioPlayer5">
                            <source src="/audio/ooh.wav" type="audio/wav">
                        </audio>
                    </div>

                </div>
            </div>
            <div id="pop_up" class="popup">
                <div id="pop_up_content" class="popup-content"></div>
            </div>
        </div>
    </div>

  {{!-- <audio controls autoplay>
    <source src="../../audio/casino.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> --}}

    </div>
    <div>
    <audio controls autoplay>
    <source src="../../audio/casino.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

    </div>

    <script src="./js/card_flip_script.js"></script>
    <script src="./js/classic.js"></script>
    <script src="./js/audio.js"></script>