<div class="profile_container">
<div class="row">
  <div class="col-auto prof-text">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 prof-text">
    <h3>Current Chip Count: {{chipCount}}</h3>
    <h3>Stats:</h3>
<button id="classic-btn" class="btn btn-primary classic-button" type="classic-mode">Classic</button>
</div>
<script src="./js/profile.js"></script>
{{!-- <script src="./js/blackjack.js"></script> --}}