<div class="profile_container">
<div class="row">
  <div class="profileText1 welcome_elem">
    <p>Welcome, {{name}}!</pp>
  </div>
</div>

<div class="profileText user_stas">
  <div class="prof_chip_count">
    <p>Current Chip Count: {{chipCount}}</p>
    <p>Hands Won: {{handsWon}}</p>
<button id="classic-btn" class="btn btn-primary classic-button" type="classic-mode">Play Blackjack Classic</button>
</div>
<script src="./js/profile.js"></script>
{{!-- <script src="./js/blackjack.js"></script> --}}