body {
    background-color: black;
    margin: 0 auto;
  }

.header_logo {
  width: 75%;
  height: auto;
}

  .BJW {
    color: white;
    font-size: 170px;
    text-align: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    top: 10em;
    text-decoration: none;
  
  }

  .container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: auto;
    /* height: 100vh; Optionally, to center vertically */
  }
  
  .header {
    text-align: center;
    width: 95%;
  }

  .lucky-button {
    background-color: white; /* Yellow background color */
    /* margin-top: 5em; */
    color: black; /* Black text color */
    padding: .25em .25em; /* Padding around the text */
    border-radius: .5em; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease;
   }

  .lucky-button:hover {
    transform: scale(1.1);

   }

   .profile-button {
    background-color: white; /* Yellow background color */
    /* margin-top: -500px; */
    color: black; /* Black text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
   }

   .logout-button {
    background-color: white; /* Yellow background color */
    /* margin-top: -500px; */
    color: black; /* Black text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
   }

   .login-button {

     background-color: white; /* Yellow background color */
      /* margin-top: -500px; */
      color: black; /* Black text color */
      padding: 5px 20px; /* Padding around the text */
      border-radius: 5px; /* Rounded corners */
      text-decoration: none; /* Remove underline */
      font-size: 20px;
      font-family: 'Dancing Script', cursive;
     }
   
     .signup-button {
      background-color: white; /* Yellow background color */
      /* margin-top: -500px; */
      color: black; /* Black text color */
      padding: 5px 20px; /* Padding around the text */
      border-radius: 5px; /* Rounded corners */
      text-decoration: none; /* Remove underline */
      font-size: 20px;
      font-family: 'Dancing Script', cursive;
     }

     .classic-button {
      background-color: white; /* Yellow background color */
    /* margin-top: -500px; */
    color: black; /* Black text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 50px;
    font-family: 'Dancing Script', cursive
     }

  .login_signup_container{
      /* margin-top: -200px; */
      color: white;
      font-family: 'Dancing Script', cursive;
      font-size: 1.5em;
      width: 100%;
      /* text-align: center; */
      display: flex;
      flex-direction: column; /* Stack forms vertically */
      align-items: center; 
      /* position: relative; Added positioning */
      /* top: -50%; Move container down by 50% of its own height */
      /* left: 4%; */
    }

  .prof-text {
    font-size: 2em;
    line-height: 0.9;
  }

    .row {
      width: 100%;
      text-align: center;
      justify-content: center;
      top: 10em;
      /* background-color: gray; */
    }

    .form-group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /* border */
      
    }

    .form-input {
        width: 50% !important;
        padding: 10px;
        box-sizing: border-box; 
        height: 50px;
         }


    .profile_container {
        color: white;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        /* background-color:blue; */
        position: relative;
    }
    /* color: white;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
    text-align: center; */


    .profile_text{
      size: 8em;
      font-family: 'Dancing Script', cursive;
    }

    .profile_text p {
      size: 8em;
      font-family: 'Dancing Script', cursive;
    }

    .body_content{
      width: 95%;
      justify-content: center;
      align-items: center;
    }

    h2 {
      margin: 1%;
    }